Provide questions relating to how young adults can apply the lessons taught in the following bible passage: {{passage_reference}} 

Use the following as a style example:

Where’s an area of your life that you see an opportunity to show more of this kind of compassion? What’s stopping you/making it difficult for you to do so?