Provide discussion questions to help a young adult understand the following bible passage: {{passage_reference}}
Focus solely on the content of the passage and be terse. 
Use the following as a style example:

How does the rich man use his money while he’s alive?
Buys and dresses in the nicest clothes
###
What do the rich man’s actions in the afterlife reveal about how he views Lazarus? What about when both were alive?
Asks Abraham to command Lazarus to help him instead of asking Lazarus directly
###
Why did the rich man end up where he is after death? What needed to change for his fate to be different?
While alive, the rich man was familiar with who Lazarus was and his situation, but never bothered to help him even with the leftovers he had