Provide a list of background context information of the following bible passage: {{passage_reference}}
Tailor the information geared towards modern young adults unfamiliar with bible teachings.
Output only the result in a list in json format
Use the following as an example:

Parable of the Dishonest Manager and Pharisees’ reaction to it

Rich man- purple, linen

Ceremonial uncleanliness- poor man was covered with sores, licked by dogs
